main {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

header {
  width: 100%;
  height: 150px;
  background: #EBEBEB;

  display: flex;
  align-items: center;
  justify-content: center;
}

header div {
  max-width: 1120px;
  padding: 0 32px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div.loged > span {
  display: none;
}

header div.not-loged > nav {
  display: none;
}

header div > span {
  display: flex;
  align-items: center;
}

header div > span:hover img {
  animation: iconLogIn 0.4s ease-in-out;
}

header div span a {
  margin-left: 8px;
  color: #EB4747;
  transition: color 0.2s;
}

header div span a:hover {
  color: #E72323;
}

header div nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

header div nav span {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

header div nav span > img {
  margin-right: 8px;
}

header div nav span strong {
  color: #EB4747;
  font-weight: 500;
}

header div nav:hover {
  margin-top: 153px;
}

header div nav.barber:hover {
  margin-top: 270px;
}

header div nav:hover ul {
  display: block;
  animation: navHeader 1s;
}

header div nav ul {
  display: none;
  position: relative;
  z-index: 1;
  width: 184px;
  min-height: 128px;
  box-shadow: 0px 0px 10px #EBEBEB;
  background: #E0E0E0;
  border-radius: 8px;
  margin-top: 24px;
  padding: 24px 16px;
  list-style: none;
}

header div nav ul li a {
  display: flex;
  align-items: center;
  color: #828282;

  transition: color 0.2s;
}

header div nav ul li a:hover {
  color: #333333;
  animation: navHeaderIcon 0.4s;
}

header div nav ul li + li {
  margin-top: 16px;
}

header div nav ul li img {
  margin-right: 8px;
}

header div nav ul:before {
  position: absolute;
  content: '';
  top: 0;
  left: 20px;
  transform: rotate(45deg);
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: #E0E0E0;
}

article.pictures-appointment {
  width: 100%;
  height: 452px;
  position: relative;
  margin-top: -28px;
}

article.pictures-appointment .pictures {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

article.pictures-appointment .pictures img {
  width: 50%;
  height: 396px;
  object-fit: cover;
}

article.pictures-appointment .pictures .left {
  animation: pictureLeftToRight 1.4s;
}

article.pictures-appointment .pictures .right {
  animation: pictureRightToLeft 1.4s;
}

article.pictures-appointment .appointment {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: calc(50% - 145px);
  width: 290px;
  height: 100%;
  background: #EB4747;

  animation: appointmentContent 0.8s ease-in-out;
}

article.pictures-appointment .appointment h1 {
  color: #333333;
  width: 150px;
  overflow-wrap: break-word;
  font-size: 36px;
  margin-bottom: 16px;
  font-weight: 700;
}

article.pictures-appointment .appointment strong {
  color: #f2f2f2;
}

article.pictures-appointment .appointment h2 {
  font-size: 24px;
  padding: 0 8px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 56px;
}

article.pictures-appointment .appointment a {
  width: 160px;
  height: 56px;
  background: #F2F2F2;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #333333;

  transition: transform 0.2s;
}

article.pictures-appointment .appointment a:hover {
  transform: scale(1.1);
}

article.barbershops {
  padding: 0 32px;
  width: 100%;
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

article.barbershops div {
  width: 544px;
  height: 410px;
  border-radius: 16px;
  background: #EBEBEB;
}

article.barbershops div > img {
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

article.barbershops div strong {
  font-size: 32px;
  font-weight: 700;
  color: #4f4f4f;
  margin-top: 16px;
  margin-left: 16px;
}

article.barbershops div section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

article.barbershops div section span {
  display: flex;
  align-items: center;
}

article.barbershops div section span > img {
  margin-right: 8px;
}

article.barbershops div section button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 292px;
  height: 40px;
  padding: 4px 16px;
  background: #EB4747;
  border-radius: 10px;
  color: #f2f2f2;
  font-weight: 500;
  border: 0;
  transition: background 0.2s;
}

article.barbershops div section button:hover {
  background: #E72323;
}

article.barbershops div + div {
  margin-left: 32px;
}

article.about {
  width: 100%;
  height: 554px;
  background: #EBEBEB;
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

article.about .content {
  padding: 0 32px;
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

article.about .content div {
  margin-top: 56px;
  width: 50%;
  max-width: 551px;
}

article.about .content div h2 {
  text-transform: uppercase;
  color: #a51212;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  max-width: 230px;
  margin-bottom: 24px;
}

article.about .content div p {
  color: #4f4f4f;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

article.about .content aside {
  background: #EB4747;
  padding: 24px;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 16px #828282;
  position: absolute;
  right: 0;
  top: 32px;
  width: 40%;
}

article.about .content aside img {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

footer {
  margin-top: 196px;
  padding: 16px 0;
  width: 100%;
  height: 74px;
  background: #EB4747;
  color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  padding: 0 16px;
  width: 100%;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer div span {
  display: flex;
  align-items: center;
}

footer div span a:first-child {
  width: 160px;
  height: 44px;
  border-radius: 16px;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  transition: background 0.2s;
}

footer div span a:first-child:hover {
  background: #E0E0E0;
}

footer div span a img {
  margin-left: 16px;
}

footer div span a img:hover {
  animation: footerIcon 0.4s;
}

@keyframes navHeader {
  0% {
    transform: rotateX(-45deg);
  } 80% {
    transform: rotateX(0);
  } 90% {
    transform: rotateX(5deg);
  } 100% {
    transform: rotateX(0);
  }
}

@keyframes navHeaderIcon {
  0% {
    transform: translateY(0px);
  } 33% {
    transform: translateY(+4px);
  } 66% {
    transform: translateY(-4px);
  } 100% {
    transform: translateY(0px);
  }
}

@keyframes pictureLeftToRight {
  from {
    transform: translateX(-640px);
    opacity: 0;
  } to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes pictureRightToLeft{
  from {
    transform: translateX(+640px);
    opacity: 0;
  } to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes appointmentContent {
  0% {
    transform: translateY(-200px);
  } 90% {
    transform: translateY(+5px);
  } 100% {
    transform: translateY(0px);
  }
}

@keyframes iconLogIn {
  0% {
    transform: translateX(0px);
  } 33% {
    transform: translateX(+4px);
  } 66% {
    transform: translateX(-4px);
  } 100% {
    transform: translateX(0px);
  }
}

@keyframes footerIcon {
  0% {
    transform: translateY(0px);
  } 33% {
    transform: translateY(+10px);
  } 66% {
    transform: translateY(-10px);
  } 100% {
    transform: translateY(0px);
  }
}

@media(max-width: 1152px) {
  article.pictures-appointment .appointment {
    width: 25%;
    left: calc(50% - (25% / 2));
  }

  article.barbershops div {
    height: auto;
    width: 100%;
  }

  article.barbershops div > img {
    width: 100%;
    max-height: 267px;
  }

  article.barbershops div section {
    flex-direction: column;
    align-items: flex-start;
  }

  article.barbershops div section button {
    margin: 16px 0;
  }
}

@media(max-width: 758px) {
  article.pictures-appointment .appointment {
    width: 190px;
    left: calc(50% - 95px);
  }
}

@media(max-width: 712px) {
  article.barbershops {
    flex-direction: column;
  }

  article.barbershops div + div {
    margin-left: 0px;
    margin-top: 32px;
  }
}

@media(max-width: 552px) {
  header {
    height: 180px;
  }

  footer div span a:first-child {
    display: none;
  }
}

@media(max-width: 398px) {
  article.barbershops div strong {
    font-size: 24px;
  }

  article.barbershops div section button {
    width: 100%;
  }

  footer {
    height: auto;
  }

  footer div {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  footer div p {
    margin-bottom: 8px;
  }
}
